<h1>Edit Account Information</h1>

<%= form_with(model: @account, url: supplier_account_path) do |form| %>
  <p>
    <%= form.label :Account_No %><br>
    <%= form.text_field :accNo %>
  </p>
  <p>
    <%= form.submit class:"btn btn-secondary"%>
  </p>
<% end %>