
<h3 class="text-center">Account</h3>
<br>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Account No.</th>
        <th scope="col">Show.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @account.id %></td>
        <td><%= @account.accNo %></td>
        <td><%= link_to "Show", supplier_account_path(id: @account.id,supplier_id: @account.supplier_id) %></td>    
    </tr>
    </tbody>
</table>
